# Compiled Object files
*.slo
*.lo
*.o
*.obj
moc_*
ui_*

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


#CMake->MSVC artifacts
*.sln
*.vcxproj
ALL_BUILD
ZERO_CHECK

#MSVC secondary artifacts
*.suo
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.ilk
*.lastbuildstate
*.sdf
*.opensdf
Debug/
Release/

# Log files
*.tlog

#DLN
vendor/qt.5.1


fc
doc/html
CMakeCache.txt
Makefile
CMakeFiles
cmake_install.cmake
ecc_test
pow_test
unit_tests
wallet_test
libbshare.a
tests/dds_test
tests/pow_test
vendor/miniupnp/miniupnpc/miniupnpcstrings.h
bitshared
bitchatc
bitchat/bitchat
tests/blockchain_tests
*automoc.cpp
src/gui/sexc
